---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="home - Tommy Wu">
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center prose lg:prose-xl">
        <h1>Hello there!</h1>
        <h2>My name is Thomas Wu</h2>
        <p><strong>Software Engineer | Family Man | Tech Enthusiast</strong></p>
        <p>
          Hi there! I've been building for the web for almost two decades!
          Recently, my work has been with a major healthcare compthere!any
          that's making a real difference by improving access to care through
          technology.
        </p>
        <p>
          This space on the web is where I'll be sharing some of my thoughts and
          learnings.
        </p>
      </div>
    </div>
  </div>
</Layout>

<style></style>
